* {
  margin: 0;
  padding: 0;
  outline: none !important;
}

.button-group button {
  background: transparent;
  border: none;
  text-transform: uppercase;
}

.project-area .img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}
